.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1em;
    padding-inline: 1.5em;
    border-bottom: 1px solid rgba($color: #000 , $alpha: .2);
    // margin-bottom: 2em;
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
    & a {
        text-decoration: none;
        color: $Dark-color;
    }
    & .navbar_icons {
        display: flex;
        align-items: center;
        gap: 1rem;
       
        & .ShoppingCart {
            position: relative;
            & .number {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 1.5em;
                right: -1em;
                background-color: $Dark-color;
                color: #fff;
                border-radius: 50%;
                // padding: .5em .8em;
                font-size: .8em;
                font-weight: 600;
                z-index: 2;
                width: 2.2em;
                height: 2.2em;

            }
        }
   
        & a {
            text-decoration: none;
            color: $Dark-color;
        }
        svg {
            font-size: 2rem;
            cursor: pointer;
        }
    }
    & .navbar_logo {
        margin-right: 15em;
    } 
    & .navbar_menu {
        font-size: .8em;
        & .mobilemenu {
            display: none;
        }
        & .desktopmenu {
            display: flex;
            gap: 2em;
        }
        & ul {
            display: flex;
            gap: 1rem;
            align-items: center;
            & li {
                align-self: center;
                & a {
                    text-transform: uppercase;
                    font-weight: 600;
                }

            }
        }
    }
}
.pagesmenu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    z-index: 2;
    padding-block: 1em;
    padding-inline: 1.5em;
    // margin-top: 1em;
    margin-inline: 18em;
    width: fit-content;
    border-radius: 1em;
    box-shadow : 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    top: -10em;
    // left: .4em;
    transition: all .3s ease-in-out;
    
    // display: none;
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        li {
            text-align: center;
            width: 100%;
            &:hover {
                a {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
    
}
.pagesmenumobile {
    display: none;
}
.activepagesmenu {
    top: 4.3em;
   
}


@media (max-width: 480px) {
    .navbar {
        & .navbar_logo {
            margin-right: 0;
            
        }
        & .navbar_menu {
            & .mobilemenu {
                display: block;
                cursor: pointer;
            }
            & .desktopmenu {
                flex-direction: column;
                position: absolute;
                top: -20em;
                // left: .2em;
                left: -1.3em;
                transition: all .3s ease-in-out;
                z-index: 5;
                background-color: #fff;
                padding: 1em;
                border-radius: 1em;
                box-shadow : 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                // & .activemobilemenu {
                //     top: 6.3em;
                // }
            }
            & .activemobilemenu {
                top: 4.3em;
            }
            & .pagesmenumobile {
                display: flex;
    // flex-direction: column;
    gap: 1em;
    position: absolute;
    z-index: 2;
    padding-block: 1em;
    padding-inline: 1.5em;
    // margin-top: 1em;
    margin-inline: 18em;
    width: fit-content;
    border-radius: 1em;
    box-shadow : 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    top: 14.5em;
    // left: .4em;
    transition: all .3s ease-in-out;
    // left: -8.5em;
    left: -50em;
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        li {
            text-align: center;
            width: 100%;
            &:hover {
                a {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
    .activepagesmenumobile {
        left: -8.5em;
    }
            }
            & .activepagesmenu {
                top: -10em;
            }
            & .activepagesmenumobile {
                left: -8.5em;
            }

            
        }
       
       
        
    }
     
  
    
  }
  .motorcycle-icon {
    width: 40px;
    height: 25px;
    margin-top: .5em;
    cursor: pointer;
    align-self: center;
    transition: transform 3s ease-in-out;
    animation: moveMotorcycle 4s  ease-in-out infinite;
  }
  
//   .move {
//     animation: moveMotorcycle 2s ease-in-out forwards;
//   }
  
  @keyframes moveMotorcycle {
    0% {
      transform: translateX(0) rotate(0deg);
    }
    50% {
      transform: translateX(220px) rotate(-40deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
  }
  
  @media (max-width: 480px) {
    .motorcycle-icon {
        display: none;
    }
    
  }