.ProductsPage {
    margin-top: 2em;
    margin-bottom: 3em;

    h2 {
        text-align: center;
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 2em;
    }
    & .ProductsPage_container {
        display: flex;
        gap: 1.5em;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 2em;
        height: fit-content;
        width: fit-content;
   
    
    
    }
}
@media (max-width: 480px) {
    .ProductsPage {
        width: 100%;
        & .ProductsPage_container {
            gap: 1.5em;
            width: 100%;
            & .productCard {
                width: calc((100% - 1.5em) / 2);
                
            }
        }

    }
    
}