.WishlistPage {
    margin-top: 2em;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    padding: 2em;
    background: #fff;

    h2 {
        text-align: center;
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 2em;
    }
    & .WishlistPage_container {
        display:flex;
        padding: 3em;
        flex-direction: row;
                gap: 1.5em;
                flex-wrap: wrap;
                width: 100%;
    } 
    .emptyWishlist {
        text-align: center;
        // font-size: 3.5em;
        p {
            font-size: 6em;
            font-weight: 300;
            margin-block: 1em;
            opacity: .6;
        }
    }
}
.WishlistPage_container .productCard {
    // width: 100%; 
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    // // gap: 1.5em;
    // padding: 1em;
    // height: fit-content;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    // border-radius: .5em;
    // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    // background: #fff;
    // // flex-grow: 1;
    // // padding-right: 2em;
    // // padding-block: 1em;
    // margin-inline: 4em;
    
    //------------------------
    width: calc((100% - 3em) / 3);
    gap: 0em !important;
    flex-direction: column;
    padding: .6em .5em;
    height: fit-content;
    margin-inline: 0em;

    span {
        font-weight: 400;
        opacity: .8;
    }
    & .productCard_content {
        display: flex;
        flex-direction: column;
        gap: .5em !important;
        text-align: center;
        font-size: .7em !important;
        height: fit-content;
        span {
            font-weight: 500;
            opacity: .8;
        }
        p {
            font-weight: 500;
            font-size: 3em !important;
            
            // opacity: .8;
        }
        h6 {
            // opacity: .6;
            font-weight: 600;
            font-size: 2em !important;
        }
    
    }
    & .productCard_img {
        width: 100%;
        position: relative;
        overflow: hidden;
        & img {
            height: 30%;
            // height: 10em;
            object-fit: cover;
            width: 100%;

        }
    }
}
.WishlistPage_container .productCard .btn {
   font-size: .6em;
}
 @media (max-width: 480px) {
    .WishlistPage {
        width: 100%;
        // height: 70vh;
     .emptyWishlist {
        p {
            font-size: 3.5em;
        }
     }
        & .WishlistPage_container {
            width: 100% !important;
            display: flex;
            gap: 1.5em;
            flex-wrap: wrap;
            align-items: center;
            // padding: 2em;
            height: fit-content;

        }
    }
    .WishlistPage_container .productCard {
        width: 100% !important; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // gap: 1.5em;
        padding-right: 1.5em;
        height: fit-content;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: .5em;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        background: #fff;
        margin-inline: 0em !important;
        & .productCard_img {
            // width: 100%;
            position: relative;
            overflow: hidden;
            width: 50% !important;
            & img {
                height: 30%;
                // height: 10em;
                object-fit: cover;
                width: 100%;
    
            }
        }
        & .productCard_content {
            display: flex;
            flex-direction: column;
            gap: .6em !important;
            text-align: center;
            font-size: .8em !important;
            height: fit-content;
            p {
                font-weight: 500;
                font-size: 2em !important;
                
                // opacity: .8;
            }
            h6 {
                // opacity: .6;
                font-weight: 600;
                font-size: 2em !important;
            }
        }
    }
    
 }
 
 .WishlistPage_container .productCard .btn {
        // height: .5em !important;
        font-size: .8em !important;
        padding : .7em !important;
       p{
        font-size: 1.7em;
        width: 100%;
       }

 
 }